<div class="container">
    <h1 class="text-center mat-display-3 my-5">ONLINE REPAIR ENQUIRY</h1>
    <mat-stepper labelPosition="bottom" linear [orientation]="(stepperOrientation | async)!" #stepper>
        <mat-step [stepControl]="products">
            <ng-template matStepLabel>Your Product Details</ng-template>
            <app-products></app-products>
        </mat-step>
        <mat-step [stepControl]="personal">
            <ng-template matStepLabel>Your Personal Details</ng-template>
            <app-personal></app-personal>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Confirm</ng-template>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Order</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>

  